---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
import Hero_svg from "@/components/landing/Hero_svg.astro";
---

<section class="border-black/20  border-b">
  <div class="mx-auto border-black/20  border-x max-w-7xl">
    <div class="mx-auto">
    <div class="mx-auto px-8 py-12 sm:py-28 gradient-grid flex flex-col sm:flex-row items-center sm:items-start gap-8">
  <!-- Text Content -->
  <div class="sm:w-3/5">
    <h1 data-aos="fade-up" class="text-black font-display uppercase text-3xl sm:text-5xl lg:text-7xl leading-snug">
I create  websites to help you stand out online    </h1>
  </div>

  <!-- SVG/Graphic Content -->
  <div data-aos="fade-up" class=" w-full sm:w-2/5">
    <Hero_svg />
  </div>
</div>

      <Banner />
      <Testimonials />
    </div>
  </div>
</section>
