<section class="border-black/20  border-b "   >
  <div class="mx-auto border-black/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8" data-aos="fade-up">
      <p class="text-black font-display uppercase lg:text-6xl text-xl">
        CRIO.STUDIO is a comprehensive design, redesign, and development service
        that specializes in crafting exceptional  websites to captivate
        users and leave a lasting impression.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8" data-aos="fade-up">
      <p class="text-black font-display uppercase lg:text-3xl">
We are a design-first web agency, where creativity meets functionality. We believe that a strong design foundation is key to building exceptional websites that not only look great but also perform seamlessly.       </p>
    </div>
  </div>
</section>
