<div 
  class="text-black text-sm gap-6 gap-y-10 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2">
  <div data-aos="fade-up" class="flex flex-col justify-between h-full">
    <p class="text-gray-800">"Initially project ko simple consider kiya, but final output dekh ke realized ki strategic simplicity mein genius chhupa tha. Extremely practical and effective solution deliver kiya."     </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Amit Sharma</span>
      <span class="block text-gray-600">Founder, Digital Orbit</span>
    </div>
  </div>
  <div data-aos="fade-up" class="flex flex-col justify-between h-full">
    <p class="text-gray-800">"Work quality bohot impressive thi. Feedback integration process mein thoda defensive approach tha, lekin final result ne sab concerns ko overcome kar diya."     </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Pooja Mehta</span>
      <span class="block text-gray-600">Owner, Creative Stack</span>
    </div>
  </div>
  <div data-aos="fade-up" class="flex flex-col justify-between h-full">
    <p class="text-gray-800">      " Unka perfectionism ka level outstanding hai. Intermediate stages mein unnecessary revisions lagte the, par final deliverable fully comprehensive aur satisfactory tha."
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Rohan Desai</span>
      <span class="block text-gray-600">Tech Lead, CodeCamp Solutions</span>
    </div>
  </div>
  <div data-aos="fade-up" class="flex flex-col justify-between h-full">
    <p class="text-gray-800">
      "Process ekdum smooth aur result-oriented tha. Minute details pe exceptional attention appreciate karta hoon. Exactly wahi straightforward solution mila jo required tha."
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Neha Patel</span>
      <span class="block text-gray-600">Co-Founder, BrightSpark Systems</span>
    </div>
  </div>
</div>
