<footer class="border-black/20  border-b bg-accent-500  ">
  <div class="mx-auto border-black/20  border-x max-w-7xl">

    <div class="mx-auto border-black/20  border-t flex flex-col p-8">
      <p class="text-black text-center text-sm font-display">
        Designed and built in the Åland Islands by <a
            class="underline"
            href="https://x.com/Karma_NAMA">Suraj Raika</a 
          >.
      </p>
    </div>
  </div>
</footer>
