<section  data-aos="fade-down"
  class="mx-auto border-black/20  border-t 2xl:max-w-7xl bg-black border-b justify-center lg:fixed lg:z-50 w-full">
  <div class="mx-auto bg-black justify-center w-full">
    <div
      class="mx-auto border-black/20  border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div
        class="text-black text-center items-center w-full flex flex-col  sm:gap-1 sm:p-1 justify-between md:px-0 sm:flex-row sm:px-8">
        <a
          href="/"
          class="text-white text-xs font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase"
          ><span>CRIO.STUDIO ⏤ By Suraj Raika &nbsp; &rarr;</span>
        </a>
        <a
          href="https://github.com/SurajRaika/"
          class="w-full bg-white duration-200 font-display hover:bg-black hover:text-white  outline lg:ml-auto lg:w-auto px-6 py-4  text-black text-center text-xs uppercase"
          >Github</a
        ><a
          href="/contact"
          class="w-full bg-orange  duration-200 font-display hover:bg-blacktext-black lg:w-auto px-6 py-4 text-black hover:text-black text-center text-xs uppercase"
          >Get a Meet</a
        >
      </div>
    </div>
  </div>
</section>
